<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/glMatrix-0.9.5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/webgl-utils.js")" type="text/javascript"></script>
</head>
<body>
    <header>
        <div id="logo"><a href="#">Remote monitoring</a></div>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">pricing</a></li>
                <li><a href="#">contacts</a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
        <div id="content">
            <div id="sidebar">
                <div id="sidebar_top"></div>
                <div id="sidebar_text">
                    <h2>Sidebar header</h2>
                    <p><strong>Lorem Lipsum</strong> dolor sit amet, consectetuer adipiscing elit. <a href="#">Nullam pharetra</a> tempus nunc. Donec feugiat lorem nec odio. Mauris vitae nisi sed mi rhoncus ultrices.</p>
                    <h2>Sidebar header</h2>
                    <p><strong>Lorem Lipsum</strong> dolor sit amet, consectetuer adipiscing elit. <a href="#">Nullam pharetra</a> tempus nunc. Donec feugiat lorem nec odio. Mauris vitae nisi sed mi rhoncus ultrices.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam pharetra tempus nunc. Donec feugiat lorem nec odio. Mauris vitae nisi sed mi rhoncus ultrices.</p>
                </div>
                <div id="sidebar_bottom"></div>
            </div>
            <div id="text">
                <h1><strong>Welcome</strong></h1>
                @RenderBody()
                <p><strong>Colorus  </strong>is a free template released by <a href="http://www.realitysoftware.ca">Reality Software</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution   3.0</a> license, which means you can use it in any way you want provided you   keep the link to the author intact.</p>
                <h1>Lorem ipsum dolor
                </h1>
                <p><strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Phasellus ornare condimentum sem. Nullam a eros. Vivamus vestibulum hendrerit arcu. Integer a orci. Morbi nonummy semper est. Donec at risus sed velit porta dictum. Maecenas condimentum orci aliquam nunc. Morbi nonummy tellus in nibh. Suspendisse orci eros, dapibus at, ultrices at, egestas ac, tortor. Suspendisse fringilla est id erat. Praesent et libero. Proin nisi felis, euismod a, tempus varius, elementum vel, nisl. Fusce non magna sit amet enim suscipit feugiat. Fusce et leo.</p>
                <p><strong>Pellentesque eu massa.</strong> Praesent sed enim sed ante tempus mollis. Vestibulum est. Aenean pellentesque fringilla orci. Vestibulum tellus velit, tristique at, malesuada in, tempus sed, urna. Fusce pharetra. In elit libero, eleifend blandit, egestas nec, lacinia sit amet, mauris. Sed nec tortor nec metus interdum tempor. Aliquam convallis faucibus turpis. Sed lacinia nibh. Etiam blandit odio in metus. Sed quis nibh eu velit ullamcorper vulputate. Nulla facilisi. Aenean eget massa dignissim orci aliquet laoreet. Nulla nisi nisl, blandit vel, pharetra ac, interdum quis, tellus. Nam tincidunt porta mauris. In aliquet turpis sit amet erat. Aenean volutpat felis eu odio. </p>
            </div>
        </div>
        <footer>
            <div id="left_footer">&copy; Copyright 2008<strong> Colorus </strong>design </div>
            <div id="right_footer">

                <!-- Please do not change or delete this link. Read the license! Thanks. :-) -->
                Design by <a href="http://www.realitysoftware.ca" title="Website Design">Reality Software</a>
                | <a href="http://free-templates.ru">free-templates.ru</a>
            </div>
            </>
        <!-- end footer -->
        </footer>
        <!-- end main -->
    </section>
    <script src="@Url.Content("~/Scripts/Rendering.js")" type="text/javascript"></script>
</body>
</html>
